html body {
	color: #000000;
	background-color: #FFFFFF;
	padding:0px;
	margin: 0px;
	width:100%;
}

body {
	font-family: 'Helvetica Neue Light', 'HelveticaNeue-Lite', 'Helvetica Neue', Helvetica, 'Lucida Sans', Arial, sans-serif;
	font-size: 100%;
	text-align: center;
}

h1
{
	color: #555;
}

h2
{
	color:#222;
}


/*TODO: I should move this to a seperate CSS file , Josh*/
.loadingbar
{
	display: block;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0 0 0 0;
	position: absolute;
	top:50%;
	margin-top: -2em;
	height: 5em;
	width:100%;
	text-align: center; 
	vertical-align: middle;
	box-shadow: 0px 5px 5px gray;
}


.loading
{
	margin:0 0 0 0;
	opacity:0.3;  
	font-size: 4em;
    -webkit-animation:oscillate linear infinite;  
    -moz-animation:oscillate linear infinite;
    animation:oscillate linear infinite;

    -webkit-animation-fill-mode:both; 
    -moz-animation-fill-mode:both;
    animation-fill-mode:both;
 
    -webkit-animation-duration:3s;
    -moz-animation-duration:3s;
    animation-duration:3s;
}



@-webkit-keyframes oscillate { 
0%	{opacity: 0.3;}
50% {opacity: 1;}
100%{opacity: 0.3;}} 
@-moz-keyframes oscillate { 
0%	{opacity: 0.3;}
50% {opacity: 1;}
100%{opacity: 0.3;}}
@keyframes oscillate { 
0%	{opacity: 0.3;}
50% {opacity: 1;}
100%{opacity: 0.3;}}



